.question-display {
  display: flex;
  flex-direction: column;
  padding: 12px;
  align-items: center;
  width: 100%;
}

.question-display__answers {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
  flex-direction: column;
}

.question-display__answer {
  margin-top: 12px;
}

.question-display__answer:first-child {
  margin-top: 0;
}
